@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary: #AECC52;
    --background: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: var(--background);
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5rem !important;
}

nav {
    background-color: var(--primary);
}

#page {
    background-color: #AECC52;
    padding: 1rem;
}