<div class="grid">
  <div class="fixed bottom-0 right-0 z-50 px-4 lg:px-10 pb-16" id="cookie-banner">
      <div class="relative p-14 bg-gray-500 rounded-xl">
          <div class="absolute top-0 -mt-6 left-0 ml-12 w-14 h-14 bg-gray-500" style="clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"></div>
          <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full md:w-auto px-4 mb-4 lg:mb-0">
              <h3 class="mb-2 text-2xl font-bold font-heading text-white">Cookie Policy</h3>
              <p class="max-w-xs text-gray-200 leading-loose">By clicking &ldquo;Accept&rdquo;, you agree to the storing of cookies on your device to enhance site navigation...</p>
          </div>
          <div class="w-full md:w-1/3 px-4 flex">
              <a class="inline-flex ml-auto items-center px-8 py-4 mr-2 text-lg text-white hover:text-gray-100 font-bold" href="#">
              <span onclick="hideBanner();return false;">More</span>
              <svg class="ml-3 w-6 h-4" width="27" height="15" viewbox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.0851 7.66792L19.398 14.355L18.5621 13.5192L24.242 7.83927L0.590432 7.84345L0.590431 6.66485L24.242 6.66067L18.98 1.39873L19.8159 0.562843L26.0851 6.83202C26.3159 7.06286 26.3159 7.43708 26.0851 7.66792Z" fill="white"></path>
              </svg>
              </a>
              <a
                  class="inline-block px-12 py-4 text-lg bg-transparent text-white font-bold border border-gray-300 hover:border-gray-200 rounded-full"
                  href="#"
                  onclick="optIn();return false;"
              >
                  Accept
              </a>
          </div>
          </div>
      </div>
  </div>
</div>